<!-- FOOTER START -->
<div class="footer">
    <div class="contain">
        <div class="col">
            <h1>Company</h1>
            <ul>
                <li>About</li>
                <li>Mission</li>
                <li>Services</li>
            </ul>
        </div>
        <div class="col">
            <h1>Products</h1>
            <ul>
                <li>About</li>
                <li>Mission</li>
                <li>Services</li>
            </ul>
        </div>
        <div class="col">
            <h1>Accounts</h1>
            <ul>
                <li>About</li>
                <li>Mission</li>
                <li>Services</li>
            </ul>
        </div>
        <div class="col">
            <h1>Resources</h1>
            <ul>
                <li>Webmail</li>
                <li>Redeem code</li>
                <li>WHOIS lookup</li>
            </ul>
        </div>
        <div class="col">
            <h1>Support</h1>
            <ul>
                <li>Contact us</li>
                <li>Web chat</li>
                <li>Open ticket</li>
            </ul>
        </div>
        <div class="col social">
            <h1>Social</h1>
            <ul>
                <li><img src="https://svgshare.com/i/fd_.svg" width="32" style="width: 32px;"></li>
                <li><img src="https://svgshare.com/i/fd4.svg" width="32" style="width: 32px;"></li>
                <li><img src="https://svgshare.com/i/fbq.svg" width="32" style="width: 32px;"></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- END OF FOOTER -->

<style>
    /* STYLES SPECIFIC TO FOOTER  */
    .footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: white;
    }
    .footer .col {
        width: 190px;
        height: auto;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 0 20px 20px 20px;
    }
    .footer .col h1 {
        margin: 0;
        font-family: Arial,sans-serif;
        font-size: 12px;
        line-height: 17px;
        padding: 20px 0 5px 0;
        color: #333D47;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.250em;
    }
    .footer .col ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .footer .col ul li {
        color: #999999;
        font-size: 14px;
        font-family: Arial,Sans-Serif,serif;
        font-weight: bold;
        padding: 5px 0 5px 0;
        cursor: pointer;
        transition: .2s;
        -webkit-transition: .2s;
        -moz-transition: .2s;
    }
    .social ul li {
        display: inline-block;
        padding-right: 5px !important;
    }

    .footer .col ul li:hover {
        color: black;
        transition: .1s;
        -webkit-transition: .1s;
        -moz-transition: .1s;
    }
    .clearfix {
        clear: both;
    }
    @media only screen and (min-width: 1280px) {
        .contain {
            width: 1200px;
            margin: 0 auto;
        }
    }
    @media only screen and (max-width: 1139px) {
        .contain .social {
            width: 1000px;
            display: block;
        }
        .social h1 {
            margin: 0px;
        }
    }
    @media only screen and (max-width: 950px) {
        .footer .col {
            width: 33%;
        }
        .footer .col h1 {
            font-size: 14px;
        }
        .footer .col ul li {
            font-size: 13px;
        }
    }
    @media only screen and (max-width: 500px) {
        .footer .col {
            width: 50%;
        }
        .footer .col h1 {
            font-size: 14px;
        }
        .footer .col ul li {
            font-size: 13px;
        }
    }
    @media only screen and (max-width: 340px) {
        .footer .col {
            width: 100%;
        }
    }
</style>