html,body {
    background-color: #333D47;
    margin: 0;
    height: 100%;
}

.text {
    color: white;

    letter-spacing: .05em;
    text-shadow:
            4px 4px 0 #86a7ca,
            7px 7px 0 rgba(0, 0, 0, 0.2);
    font-size:2.3em;
    font-family:  sans-serif;
    -webkit-animation: shift 2s ;
    animation: shift 2s ;
    margin-top:180px;
    text-align:center;
    text-transform:uppercase;
}
h2 {
    animation: appear 3.2s;
    text-align:center;
    color: white;
}

@keyframes shift {
    0% {opacity:0;}
    33% {margin-top:0;opacity:0;}
    100% {margin-top:180px;opacity:1;text-shadow:
            4px 4px 0 #86a7ca,
            7px 7px 0 rgba(0, 0, 0, 0.2);}
}
@keyframes appear {
    0% {opacity:0;}
    50% {opacity:0;}
    100% {opacity:1;}
}
html{
    width:100%;
    overflow-x:hidden;
    margin: 0;
}
