<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<head>
    <title>Welcome to SonicHollow Forum!</title>
</head>

<div th:include="common/commonNavbar" style="position:fixed;left: 0;top:0; width:100%; font-weight: lighter"></div>
<body style="background-color: #333D47">


<footer th:replace="common/footer.html" style="position:relative;left: 0;bottom:0; height: 100px; width: 100%"></footer>
</body>
</html>

<style>
</style>
