<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Update User</h1>
                                    <!--                                    <h1 class="h4 text-gray-900 mb-4" th:text="${msg}">ad</h1>-->
                                </div>
                                <form class="user" method="post" th:action="@{/update_user}">

                                    <div class="form-group">
                                        <input th:value="${user.getUsername()}" name="name" type="email"
                                               class="form-control form-control-user"
                                               id="exampleInputEmail" aria-describedby="emailHelp"
                                               placeholder="Enter New Address...">
                                    </div>
                                    <div class="form-group">
                                        <input th:value="${user.getPassword()}" name="age"
                                               class="form-control form-control-user"
                                               id="exampleInputPassword" placeholder="Enter New Password">
                                    </div>

                                    <div class="form-group">
                                        <input th:value="${user.getEmail()}" name="email"
                                               class="form-control form-control-user"
                                               placeholder="Enter New Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" name="id" th:value="${user.getUid()}">
                                    </div>

                                    <input th:value="提交修改" type="submit" class="btn btn-primary btn-user btn-block">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
