<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sonichollow.forum.mapper.PostMapper">

    <resultMap id="BaseResultMap" type="com.sonichollow.forum.entity.Post">
        <id property="pid" column="pid" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="postName" column="post_name" jdbcType="VARCHAR"/>
        <result property="text" column="text" jdbcType="VARCHAR"/>
        <result property="likes" column="likes" jdbcType="INTEGER"/>
        <result property="viewCount" column="view_count" jdbcType="INTEGER"/>
        <result property="isLike" column="is_like" jdbcType="TINYINT"/>
        <result property="createdUser" column="created_user" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="modifiedUser" column="modified_user" jdbcType="VARCHAR"/>
        <result property="modifiedTime" column="modified_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        pid,username,post_name,
        text,likes,view_count,
        is_like,created_user,created_time,
        modified_user,modified_time
    </sql>
    <update id="updateViewCount">
        update post
        set view_count = view_count + 1 where pid = #{pid}
    </update>
    <select id="getAllByPid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from post
        where
        pid = #{pid,jdbcType=NUMERIC}
    </select>

    <!--Backstage-->
    <select id="selectAllPost" resultType="com.sonichollow.forum.entity.Post">
        select *
        from post;
    </select>
    <select id="selectByPid" resultType="com.sonichollow.forum.entity.Post">
        select
        <include refid="Base_Column_List"/>
        from post
        where
        pid = #{pid,jdbcType=NUMERIC}
    </select>

    <delete id="deletePost">
        delete
        from post
        where pid = #{pid}
    </delete>

</mapper>
